Libraries/Orchestration.CertificateManagement/bin
Libraries/Orchestration.CertificateManagement/obj
Libraries/Orchestration.Commands/bin
Libraries/Orchestration.Commands/obj
Libraries/Orchestration.DataContext/bin
Libraries/Orchestration.DataContext/Libraries/Orchestration.DataContext/obj
Libraries/Orchestration.DataContext/obj
Libraries/Orchestration.DeviceGatewayCommunication/bin
Libraries/Orchestration.DeviceGatewayCommunication/obj
Libraries/Orchestration.Exceptions/obj
Libraries/Orchestration.Exceptions/bin
Libraries/Orchestration.Models/obj
Libraries/Orchestration.Queries/bin
Libraries/Orchestration.Queries/obj/Debug
Libraries/Orchestration.Queries/obj
Orchestration.API/bin
Orchestration.API/obj
Orchestration.Domain/obj
Orchestration.Infrastructure/obj
tests/Orchestration.IntegrationTests/bin
tests/Orchestration.IntegrationTests/obj
Libraries/Orchestration.Models/bin
Orchestration.Domain/bin
tests/Orchestration.UnitTests/bin/
tests/Orchestration.UnitTests/obj
Orchestration.Infrastructure/bin
obj
